/* main */
.main {
    width: 100%;
    margin: 0;
    /* display: flex; */
}

.main__form-container {
    max-width: 608px;
    margin: 0 auto;
    padding: 80px 0;
    color: rgba(255, 255, 255, 1);
}

.main__title {
    margin: 0 auto;
    font-family: 'Roboto Slab';
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
}

.main__description {
    margin: 32px auto 88px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}