/* main */
.main {
    max-width: 100%;
    margin: 0;
    display: flex;
}

.main__form-container {
    max-width: 608px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
}

.main__title {
    max-width: 416px;
    margin: 0 auto;
    padding-top: 80px;
    font-family: 'Roboto Slab';
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
}

.main__description {
    margin: 0;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}