/* about */
.about {
    background-color: rgba(255, 255, 255, 1);
}

.about__image {}

.about__text-container {}

.about__title {
    color: rgba(0, 0, 0, 1);
}

.about__text {
    color: rgba(0, 0, 0, 1);
}