/* navigation */
.navigation {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    gap: 70px;
    align-items: center;
}

.navigation__menu-button {
    max-width: 178px;
    height: 79px;
    margin: 0;
    padding: 0 30px;
    color: rgba(255, 255, 255, 1);
    background: none;
    border: none;
    /* border-bottom: solid 3px rgba(255, 255, 255, 1);     ONLY IF ACTIVE */
    border-bottom: solid 3px rgba(255, 255, 255, 1);
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}