/* header */
.header {
    margin: 0;
    padding: 0 104px;
    background-color: green;
    display: flex;
    justify-content: space-between;
}

.header__site-title {
    margin: 0;
}

.header__popup-button {
    
}